name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
jobs:
  Test-Module:
    name: Run Tests
    runs-on: windows-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Test
      shell: pwsh
      run: ./build.ps1 -Task Test -Bootstrap
